@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

:root {
  --primary: #b19cd9;
  --primary-dark: #a183d8;

  --bkg-main: #fff;
  --results-bkg-backsplash: rgba(255, 255, 255, 0.7);

  --error: rgb(255, 142, 142);
  --error-hover: rgb(255, 92, 92);

  --shadow: rgba(0, 0, 0, 0.3);
  --shadow-dark: rgba(0, 0, 0, 0.7);
  --font-family: "Source Sans Pro", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.6;

  position: relative;

  font-family: var(--font-family);

  background: var(--bkg-main);
}

.btn {
  font-weight: bold;
  padding: 0.5em 1em;

  border: 1px solid transparent;
  border-radius: 0.5em;
  box-shadow: 2px 2px 5px 1px var(--shadow);
  outline: none;
  background: var(--primary);
  color: #fff;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--primary-dark);
}

/* Hides elements in DOM */
.hidden {
  display: none !important;
}

/* Game Title */
.game-title {
  font-size: 2rem;
  font-family: "Bangers", cursive;
  font-weight: bold;
}

/* "vs" styling */
.vs {
  font-size: 1.2rem;
  font-family: "Bangers", cursive;
}

/* Start Screen */
#start-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;

  background: var(--bkg-main);
}

/* The 2 divs for the 2 modes*/
#start-screen > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(0.25em, 3vw, 1em);

  font-size: clamp(1rem, 5vw, 1.25rem);
  padding: 1em 0.75em;
  margin: 0.5em;

  border-radius: 0.5em;
  box-shadow: 1px 1px 5px 2px var(--shadow);
  background: var(--bkg-main);
}

/* Holds Icon and Player Name Input */
.player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.name-input {
  width: 14ch;

  text-align: center;
  padding: 0.5em 1em;
  margin: 0 0.25em;

  border: 1px solid var(--shadow);
  border-radius: 0.5em;
  outline: none;
}

.name-input,
.name-input:disabled {
  background: var(--bkg-main);
}

.name-input:focus {
  border: 1px solid var(--shadow-dark);
}

@media (min-width: 568px) {
  #start-screen > div {
    flex-direction: row;
  }
}

/* Pop Up Screen Displaying Results */
#results-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: none;
  opacity: 0;
  transition: all 250ms ease-in;

  background: var(--results-bkg-backsplash);
}

/* For Animation Styling */
#results-screen.enter {
  display: block;
}

#results-screen.enter.active {
  opacity: 1;
}

#results-container {
  min-width: 15em;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0.5em;
  border-radius: 0.5em;

  box-shadow: 3px 3px 5px 2px var(--shadow);
  background: var(--bkg-main);
}

#results-container > * {
  margin: 0.5em;
}

#action-btn {
  display: flex;
  gap: 0.5em;
}

/* New Game Button Styling */
#new-game {
  background: var(--error);
}

#new-game:hover {
  background: var(--error-hover);
}

/* Screen Containing the Gameboard & Scoreboard*/
#game-screen {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

/* Scoreboard Container */
#scoreboard {
  width: 100%;

  display: flex;
  justify-content: center;
  gap: clamp(5em, 25vw, 15em);
}

#scoreboard > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: clamp(1rem, 5vw, 1.5rem);
}

/* Current Turn Container */
#turn {
  height: clamp(3rem, 14vw, 5rem);
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: clamp(1.5em, 7vw, 2.75em);
  padding: 0.5rem;
  margin: 0.5rem 0;

  background: aqua; /* Temporary */
}

/* Physical Tic Tac Toe Board */
#gameboard {
  width: clamp(15rem, 60vw, 30rem);
  height: clamp(15rem, 60vw, 30rem);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

/* Individual Squares on Gameboard */
.gamesquare {
  width: clamp(5rem, 20vw, 10rem);
  height: clamp(5rem, 20vw, 10rem);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: clamp(3em, 10vw, 5em);

  border: 1px solid black;
  background-color: green;
}
