@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

:root {
  --primary: #b19cd9;
  --primary-dark: #a183d8;

  --bkg-main: #fff;
  --results-bkg-backsplash: rgba(255, 255, 255, 0.7);

  --shadow: rgba(0, 0, 0, 0.3);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 1em;
  background: var(--bkg-main);
  font-family: "Source Sans Pro", sans-serif;
}

.btn {
  background: var(--primary);
  color: #fff;
  font-weight: bold;
  padding: 0.5em 1em;
  outline: none;
  border: 1px solid transparent;
  border-radius: 0.5em;
  box-shadow: 2px 2px 5px 1px var(--shadow);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--primary-dark);
}

/* Pop Up Screen Displaying Results */
#results-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--results-bkg-backsplash);
  display: none;
  opacity: 0;
  transition: all 250ms ease-in;
}

#results-screen.enter {
  display: block;
}

#results-screen.enter.active {
  opacity: 1;
}

#results-container {
  min-width: 15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5em;
  box-shadow: 3px 3px 5px 2px var(--shadow);
  background: var(--bkg-main);
}

#results-container > * {
  margin: 0.5em;
}

/* Scoreboard With Player Names */
#scoreboard {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: clamp(5em, 25vw, 15em);
}

#player1,
#player2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  width: 12ch;
  border: 0;
  border-bottom: 1px solid black;
  text-align: center;
  position: relative;
}

/* Displays Current Turn */
#turn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: aqua;
  height: clamp(3rem, 14vw, 6rem);
  font-size: clamp(1.5em, 7vw, 3em);
  padding: 0.5rem;
  margin: 0.5rem 0;
}

/* Physical Tic Tac Toe Board */
#gameboard {
  width: clamp(15rem, 60vw, 30rem);
  height: clamp(15rem, 60vw, 30rem);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

/* Individual Squares on the Tic Tac Toe Board*/
.gamesquare {
  width: clamp(5rem, 20vw, 10rem);
  height: clamp(5rem, 20vw, 10rem);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(3em, 10vw, 5em);
  background-color: green;
  border: 1px solid black;
}
